<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soufienov.yoump3"
    android:versionCode="6"
    android:versionName="6.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AudioPlayerActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsActivity"

            >
        </activity>
        <service
            android:name=".service.SongService"
            android:exported="true" 
            android:enabled="true"/>

        <receiver android:name=".receiver.NotificationBroadcast" >
            <intent-filter>
                <action android:name="com.soufienov.yoump3.delete" />
                <action android:name="com.soufienov.yoump3.pause" />
                <action android:name="com.soufienov.yoump3.next" />
                <action android:name="com.soufienov.yoump3.play" />
                <action android:name="com.soufienov.yoump3.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>